body {
  font-family: 'Arial', sans-serif;
  background-color: #037d17;
}
#seleccionar-equipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  color: white;
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
}
.subtitulo {
  color: white;
  font-size: 20px;
}
.tarjetas, .tarjetas-pegadas {
  display: flex;
  gap: 10px;
}
#boton-equipo {
  width: 180px;
  height: 40px;
  border-radius: 15px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
}
#seleccionar-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#vista-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#ver-mapa button {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: '', sans-serif;
  margin: 10px 0;
}
@media (max-width: 560px) {
  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  #ver-mapa div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}